div.classy_table {
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    border:1px solid silver;
    background-color: rgb(238,238,238);
    padding-top:5px;
    padding-bottom:5px;
    overflow-style: marquee-block;
}

.classy_table table {
    width:100%;
    border-bottom:1px solid grey;
    border-top:0px solid grey;
}

table#Franchises.quotations {
    width:100%;
    border:none;
}

table#Retail.quotations {
    width:100%;
    border:none;
}

table#Commerical.quotations {
    width:100%;
    border:none;
}

.classy_table th {
    color: black !important;
    text-decoration: none;
    padding:5px !important;

    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    border-left:1px solid rgb(238,238,238);
}

.classy_table td {
    background: rgb(249,252,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
    border-top:1px solid grey;
}

.classy_table #Franchises td {
    border: none;
}

.classy_table #Retail td {
    border: none;
}

.classy_table #Commercial td {
    border: none;
}


.classy_table h3 {
    font-size:18px;
    font-weight:bold;
    text-align: center;
}

.classy_table button:hover{
    cursor: pointer;
}

@font-face
{
font-family: neueLight;
src:url('modules/techitems/fonts/HelveticaNeueLight.ttf');
}

@font-face
{
font-family: neueBold;
src: url('modules/techitems/fonts/HelveticaNeueBold.ttf');
}

.heading {
    padding-left: 25px;
    font-family: neueLight;
    color: #989899;
    font-size: 16px;
}
.quote_vals {
    padding-left: 40px;
    font-family: neueBold;
    font-size: 15px;
}




.btnSave {
    min-height: 90%;
    margin-top: 0;
    padding: 0;
    /*padding-left: 2%;*/
    color: #333333;
    font-weight: 900;
    line-height: 1em;
    width: 148px;
    height:40px;
}
 
.btnSave:hover {
  color: #FFF;
  background: #6dad1f;
}

